# Database
DATABASE_URL="file:./dev.db"

# NextAuth (optional - untuk implementasi authentication)
NEXTAUTH_SECRET="your-secret-key-here"
NEXTAUTH_URL="http://localhost:3000"

# Development
NODE_ENV="development"
